---
layout: default
title: Kategori Produk
permalink: kategori
description: Semua kategori produk berada di halaman ini. Mulai dari sepatu, celana, dress, kemeja, jaket, sweater dan lain-lain.
---
	 
	 <div id="contact-page" class="container">
    	<div class="bg">
	    	    	
    		<div class="row">  	
	    		<div class="col-sm-4">
	    			<div class="contact-form">
	    				<h1 class="title text-center">Kategori</h1>	    				
				    	{% include category.html %}
	    			</div>
	    		</div>
	    		<div class="col-sm-4">
	    			<div class="contact-info">
	    				<h2 class="title text-center">Brand</h2>
	    				{% include brand.html %}
	    			</div>
    			</div>
    			<div class="col-sm-4">
	    			{% include shipping.html %}	    			
    			</div>    			 			   			
	    	</div>  
    	</div>	
    </div><!--/#contact-page-->